<#include "_layout.html"/> 
<@layout>
<div class="x-pc-width clearfix x-margin-top-20 x-margin-bottom-20">
  <!-- -->
  <div class="x-pull-left x-layout-100 blog-sm-left">
    <div class="x-background-white x-margin-bottom-10 x-padding-10 x-div-radius">
      <h3 class="x-font-title12 x-padding-top-10 x-padding-bottom-10 x-part-border-bottom x-margin-bottom-10 person-relative">
        <a class="x-a-active" href="#">道可道，非恒道；名可名，非恒名。</a>
<!--         <span class="x-title-border"></span> -->
      </h3>
      <div class="x-details-content x-padding-top-10 x-padding-bottom-10">
      	<img alt="..." src="${CTPATH}/assets/images/dao.jpg">
<!--         <img alt="..." width="200px" height="200px" src="${CTPATH}/assets/images/wechat_public_account.jpg"> -->
      </div>
    </div>
  </div>
</div>
</@layout>